.TituloPrincipal{
    text-align: center;
    font-size: 5ch;
}
.TituloSecundario{
    text-align: center;
    font-size: 4ch;
}

.tabla{
margin: 0 auto;
}
.Tabla_Caption{
    text-align: 0 auto;
    font-size: 3ch;
}

.TablaTejidos{
    text-align: 0 auto;
    border: 1cm
}

.EntreTexto{

}

.Unode5{
    background-color: dodgerblue;
}

.Dosde5{
    background-color: darkgreen;
}

.Tresde5{
    background-color: darkgoldenrod;
}

.Cuatrode5{
    background-color: crimson;
}

